---
layout: layouts/base
---

<section class="p-6 md:p-8 bg-white">
  <main>
    <div class="w-full max-w-md mx-auto">
      <h2 class="mb-1 text-3xl">{{ name }}</h2>
      <small class="text-grey-dark font-light text-lg mt-3 block">{{ date | date: "%d" | ordinal }} {{ date | date: "%B %Y" }} {% if dug %}· 🐶 {% endif %} {% if summited %} ·
        Summited{% endif %} {% if munro %} · Munro{% endif %}</small>
    </div>
    {% if content.length > 0 %}
    <article class="mt-6 leading-normal text-xl font-light xl mb-2 w-full max-w-md mx-auto">
      {{ content }}
    </article>
    {% endif %}
  </main>
</section>

<section class="p-6 md:p-8 w-full mx-auto">
  {% capture entryDate %}{{ date | date: '%Y-%m-%d' }}{% endcapture %}
  <div class="mt-6">
    {% for image in entryPhotos %}
      {% if image contains entryDate %}
        {% assign photosAvailable = true %}
        <img src="/assets/images/entries{{ image }}" class="w-full mb-6 shadow-xs">
      {% endif %}
    {% endfor %}
  </div>
</section>
