@tailwind preflight;
@tailwind components;

body {
  @apply .text-base;
}

a,
a:visited {
  @apply .text-black;
}

a:hover {
  @apply .text-black .no-underline;
}

.shadow-xs {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

.rotate {
  transform: rotate(45deg);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@tailwind utilities;
