<header class="p-6 text-center border-b mb-4 pb-12">
  <a href="/" title="{{ site.title }}" class="no-underline font-bold text-2xl ">
    <img class="block mx-auto" src="/assets/images/{{ site.logo }}" alt="{{ site.description }}" />
    {{ site.title }}
  </a>

  <nav class="mb-4 mt-4">
    <ul class="list-reset font-light text-lg">
      <li class="inline"><a href="/">Log</a><span class="mx-1">·</span></li>

      <li class="inline">
        <a href="/about">About</a><span class="mx-1">·</span>
      </li>
      {% if site.social_meta.instagram %}
      <li class="inline">
        <a href="https://www.instagram.com/{{ site.social_meta.instagram }}">Instagram</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
